/*!********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/Home.scss ***!
  \********************************************************************************************************/
html * {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: blue;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.25fr 2fr;
}
/*!***********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/Project.scss ***!
  \***********************************************************************************************************/
h3 {
  text-decoration: underline;
}
/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/SidebarLink.scss ***!
  \***************************************************************************************************************/
li a {
  color: #0864c7 !important;
}
/*!***********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/Sidebar.scss ***!
  \***********************************************************************************************************/
ul {
  list-style-type: none;
}
