/*!*******************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/App.scss ***!
  \*******************************************************************************************************/
html,
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

#app {
  height: 100%;
}

h1 {
  color: blue;
}

/*Large screens*/
.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 0.25fr 1fr 0.25fr;
}

.content {
  margin-top: 1em;
  margin-left: 1em;
}

/*mobile*/
@media only screen and (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 100%;
  }
  .content {
    margin-right: 2.5em;
    margin-left: 2.5em;
    max-width: 64ch;
  }
}
/*!***********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/Project.scss ***!
  \***********************************************************************************************************/
h3 {
  text-decoration: underline;
}
/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/SidebarLink.scss ***!
  \***************************************************************************************************************/
li a {
  color: #0864c7 !important;
}
/*!***********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/Sidebar.scss ***!
  \***********************************************************************************************************/
ul {
  list-style-type: none;
}
/*!***********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/RichText.scss ***!
  \***********************************************************************************************************************/
.text {
  max-width: 64ch;
}
